<div class="photo">
  <div class="container">
    <img ng-src="{{ detail.url }}">
    <h2 class="photo-title">{{ detail.title }} </h2>
    <p class=""> </p>
    <p class="">Package: {{ detail.package }} </p>
    <p class="">Pallet Size: {{ detail.PalletSize }} </p>
	<p class="">Temperature: {{ detail.reeferSetting[0] }} </p>
    <p class="">Ventilation/Air Exchange (cbm/h): {{ detail.reeferSetting[0] }} </p>
    <p class="">Humidity relative %: {{ detail.reeferSetting[0] }} </p>
    <p class="">Approximate Shelf Life: {{ detail.reeferSetting[0] }} </p>
  </div>
</div>